*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: var(--body-bg);
    

}

body *{
    font-family: 'Nunito', sans-serif;
   
}

:root{
    --background-search:rgb(250, 247, 242);
    --body-bg:#FFFFFF;
    --text-color-gray:#707587;
    --gray-light:#B8B7B4;
    --orange:#F39050;
}

/*ALL*/
.container{
 display: flex;
 flex-direction: column;
 
}

/*MAIN/ASIDE*/
.conteudo{
    flex-direction: row;
    display: flex;
    
}

/*HEADER*/
header{
    display: flex;
    background-color: var(--body-bg);
    display: flex;
    margin: auto;
    width: 80%;
    height: 40px;
    align-items: center;
    position: relative;
    padding: 40px 0;

    font-weight: 700;
    color: var(--text-color-gray);
    font-size: 12px;

    position: relative;
    
    flex: 1;
}   

.logo-header-div{
    display: flex;
    align-items: center;
    margin-right: 10%;
    font-weight:900 ;
    font-size: 18px;
  
    
}


.menu ul {/*lista dos icons da barra menu*/
   list-style: none;
    display: flex;
    gap: 30%;
    cursor: pointer;


  
}

.icons ul button{
    border: none;
    background-color: transparent;
    color: var(--text-color-gray);
    cursor: pointer;
}

.icons ul{/* icons da barra menu(coração, carrinho, profile)*/
    list-style: none;
    display: flex;
    
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    right: 0;
    transform: translateY(-30%);
    
}


#campo-de-pesquisa{/*barra de pesquisa '|'*/
    color:var(--orange);
    width: 300px;
    overflow: hidden;
}

#campo-de-pesquisa::placeholder{/*texto da barra de pesquisa  */
    color:var(--gray-light);
    font-size: 12px;
    padding-left: 10px;
    
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}


form{/*search*/
    background-color:var(--background-search);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 18px ;
    justify-content:space-between;
    
    border-radius: 8px;

    position: absolute;
    left: 60%;
    transform: translateY(-50%);
    top: 50%;
    

   
    width: 50px;

    flex: 1;

    
    
    
}


form.expandir{
    width: 250px;
    transition: 0.9s;
}


form input, .btn-buscar{/*search button */
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--gray-light);
    
}

.btn-buscar{
    margin-left: 15px
}

.bi-search{/*icon search*/
    cursor: pointer;
}


/*MAIN*/
main{
    background-color: blue;
    flex: 1;
}


/*ASIDE*/
aside{
    background-color: green;
    flex: 2;

   
}
.view-container{
    border: 2px solid red;
    width: 80%;
    height: 200px;
    margin-left: 15%;
}
.products{
    width: 100px;
}


/*FOOTER*/
footer{
    background-color: yellow;
  
}



/*HOVER*/

.menu ul li:hover{
    color: black;
    transition: 0.2s;
}

.icons ul button:hover{
    color: black;
    transition: 0.2s;
}



/*MEDIA SCREEN*/
@media screen and (max-width:500px) {
    .container{
        position: relative;
    }
    .formulario{
        position: absolute;
        margin-top: 30px;
        padding-left: 0px;
        left: 1%;
        z-index: 0;
    }

    form.expandir{
        width: 180px;
        transition: 0.9s;
        display: flex;
       
    }

    .icons{
        position: absolute;
        margin-top: 60px;
        left: 100%;
       
       
    }
   
}


