*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    
    

}

body *{
    /*font-family*/
   
}

/*ALL*/
.container{
 display: flex;
 flex-direction: column;
 
}

/*MAIN/ASIDE*/
.conteudo{
    flex-direction: row;
    display: flex;
    
}

/*HEADER*/
header{
    display: flex;
    background-color: red;
    display: flex;
    margin: auto;
    width: 80%;
    height: 40px;
    align-items: center;
    position: relative;
}   

.logo-header-div{
    display: flex;
    align-items: center;
    margin-right: 5%;
    
}



.menu ul {
   list-style: none;
    display: flex;
    gap: 30%;
    
}

.icons ul{
    list-style: none;
    display: flex;
    
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    right: 0;
    transform: translateY(-30%);
    
}

.btn-buscar{
    content: url(./assets/Dress.svg);
    
}

 

/*MAIN*/
main{
    background-color: blue;
    flex: 1;
}


/*ASIDE*/
aside{
    background-color: green;
    flex: 2;

   
}
.view-container{
    border: 2px solid red;
    width: 80%;
    height: 200px;
    margin-left: 15%;
}
.products{
    width: 100px;
}


/*FOOTER*/
footer{
    background-color: yellow;
  
}



/*HOVER*/





/*MEDIA SCREEN*/
@media screen and (max-width:400px) {
    
}


